@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: black;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    overflow-x: hidden;
    font-size: 30px;
}

header {
    height: 100px;
}

.logo {
    width: 250px;
    position: relative;
    top: 15px;
    left: -45px;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "input input"
        "city city"
        "sunOrClouds sunOrClouds"
        "temperature feelsLike"
        "humidity pressure"
        "map map";
}

.bg {
    background-color: #333333;
}

#input {
    grid-area: input;
    margin-bottom: 50px;
}

#city {
    grid-area: city;
    font-size: 20px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

#map {
    grid-area: map;
    width: 90vw;
    height: 45vh;
}

#temperature, #feelsLike, #humidity, #pressure, #sunOrClouds {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#temperature {
    grid-area: temperature;
}

#feelsLike {
    grid-area: feelsLike;
}

#humidity {
    grid-area: humidity;
}

#pressure {
    grid-area: pressure;
}

#sunOrClouds {
    grid-area: sunOrClouds;
    font-size: 15px;
    text-align: center;
}

/*BLIJFT NIET CENTER*/
#sunOrClouds img {
    width: 300px;
}

input[type=text] {
    font-family: 'Rubik', sans-serif;
    background-color: white;
    border: 2px solid rgba(63, 215, 215, 1);
    width: 250px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
}

input[type=text]:focus {
    outline: none;
}

#button {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: rgba(63, 215, 215, 1);
    background-color: transparent;
    border: 2px solid rgba(63, 215, 215, 1);
    padding: 12px 50px 12px 50px;
    text-transform: uppercase;
}

#button:focus {
    outline: none;
}

#button:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(63, 215, 215, 1);
}

p {
    font-size: 15px;
    margin: 0;
}


@media only screen and (min-width: 600px) and (max-width: 999px) {
    .container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "input input"
            "city sunOrClouds"
            "temperature feelsLike"
            "humidity pressure"
            "map map";
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1350px){

}

@media only screen and (min-width: 1351px){

}
